<form action="asciifly/result" method="get">
    <h2>폰트를 골라주세요</h2>
    <select name='input_font'>
        <option value="standard">일반</option>
        <option value="big">크게</option>
        <option value="small">얇게</option>
    </select>
    
    <h2>이름을 입력하세요</h2>
    <input type="text" name="input_name" placeholder="name">
    
    <h2>전화번호를 입력하세요</h2>
    <input type="tel" name="input_tel" placeholder="phone">
    <h2>제출</h2>
    <input type="submit" value="ASCIIFlY">
    
</form>